<link
      rel="shortcut icon"
      href="./assets/img/icono/bcf.jpg"
      type="image/jpg"
    />

  

<!-- top bar -->
<div class="sb-top-bar-frame">
    <div class="sb-top-bar-bg"></div>
    <div class="container">
      <div class="sb-top-bar">
        <a href="home-2.html" class="sb-logo-frame">
          <!-- logo img -->
          <img src="./assets/img/icono/bcf.jpg" alt="BC">
        </a>
        <!-- menu -->
        <div class="sb-right-side">
          <nav id="sb-dynamic-menu" class="sb-menu-transition">
            <ul class="sb-navigation">
              <li class="sb-active sb-has-children">
                <a href="home-1.html">Principal</a>              
              </li>
              <li class="sb-has-children">
                <a href="about-1.html">Menu</a>
                <ul>
                  <li><a href="about-1.html">Categorias</a></li>
                  <li><a href="about-2.html">Tigrillos</a></li>
                  <li><a href="blog-1.html">Bolones</a></li>
                  <li><a href="blog-2.html">Moros</a></li>
                  <li><a href="blog-3.html">Jugos</a></li>
                  <li><a href="publication-1.html">Bebidas Calientes</a></li>
                  <li><a href="publication-2.html">Postres</a></li>
                  <li><a href="publication-3.html">Empanadas</a></li>
                </ul>
              </li>
              <li class="sb-has-children">
                <a href="menu-1.html">Reservaciones</a>
                <ul>
                  <li><a href="menu-1.html">Salon</a></li>
                </ul>
              </li>
              <li class="sb-has-children">
                <a href="menu-1.html">Fechas Especiales</a>
                <ul>
                  <li><a href="menu-1.html">Opciones</a></li>
                </ul>
              </li>
              <li class="sb-has-children">
                <a href="menu-1.html">Conócenos</a>
                <ul>
                  <li><a href="menu-1.html">Acerca de</a></li>
                </ul>
              </li>
              <li class="sb-has-children">
                <a href="shop-1.html">Carrito</a>
                <ul>                  
                  <li><a href="cart.html">Cart</a></li>
                  <li><a href="checkout.html">Checkout</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="sb-buttons-frame">
            <!-- button -->
            <div class="sb-btn sb-btn-2 sb-btn-gray sb-btn-icon sb-m-0 sb-btn-cart">
              <span class="sb-icon">
                <img src="./assets/img/ui/icons/cart.svg" alt="icon">
              </span>
              <i class="sb-cart-number">0</i>
            </div>
            <!-- button end -->
            <!-- menu btn -->
            <div class="sb-menu-btn"><span></span></div>
            <!-- info btn -->
            <div class="sb-info-btn"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- info bar end -->
    <!-- minicart -->
    <div class="sb-minicart">
      <div class="sb-minicart-content">
        <!--<div class="sb-ib-title-frame sb-mb-30">
          <h4>Your order.</h4><i class="fas fa-arrow-down"></i>
        </div>
        <a href="product.html" class="sb-menu-item sb-menu-item-sm sb-mb-15">
          <div class="sb-cover-frame">
            <img src="img/menu/4.jpg" alt="product">
          </div>
          <div class="sb-card-tp">
            <h4 class="sb-card-title">Saumon Gravlax</h4>
            <div class="sb-price"><sub>$</sub> 9</div>
          </div>
        </a>
        <a href="product.html" class="sb-menu-item sb-menu-item-sm sb-mb-15">
          <div class="sb-cover-frame">
            <img src="img/menu/1.jpg" alt="product">
          </div>
          <div class="sb-card-tp">
            <h4 class="sb-card-title">Chevrefrit au miel</h4>
            <div class="sb-price"><sub>$</sub> 14</div>
          </div>
        </a>
        <a href="product.html" class="sb-menu-item sb-menu-item-sm sb-mb-15">
          <div class="sb-cover-frame">
            <img src="img/menu/2.jpg" alt="product">
          </div>
          <div class="sb-card-tp">
            <h4 class="sb-card-title">Croustillant de poisson</h4>
            <div class="sb-price"><sub>$</sub> 4</div>
          </div>
        </a>
        <a href="product.html" class="sb-menu-item sb-menu-item-sm sb-mb-15">
          <div class="sb-cover-frame">
            <img src="img/menu/3.jpg" alt="product">
          </div>
          <div class="sb-card-tp">
            <h4 class="sb-card-title">Stracciatella</h4>
            <div class="sb-price"><sub>$</sub> 11</div>
          </div>
        </a>
        <a href="product.html" class="sb-menu-item sb-menu-item-sm sb-mb-15">
          <div class="sb-cover-frame">
            <img src="img/menu/5.jpg" alt="product">
          </div>
          <div class="sb-card-tp">
            <h4 class="sb-card-title">Carpaccio de daurade</h4>
            <div class="sb-price"><sub>$</sub> 19</div>
          </div>
        </a>
      </div>
      <div class="sb-minicart-footer">-->
        <!-- button -->
        <a href="cart.html" class="sb-btn sb-btn-gray sb-btn-text">
          <span>View order</span>
        </a>
        <!-- button end -->
        <!-- button -->
        <a href="checkout.html" class="sb-btn sb-btn-text">
          <span>Checkout</span>
        </a>
        <!-- button end -->
      </div>
    </div>
    <!-- minicart end -->
  </div>
  <!-- top bar end -->
