<!-- dynamic content -->
<div id="sb-dynamic-content" class="sb-transition-fade">

    <!-- banner -->
    <section class="sb-banner sb-banner-xs sb-banner-color">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- main title -->
            <div class="sb-main-title-frame">
              <div class="sb-main-title">
                <h1 class="sb-h2">Conócenos</h1>              
              </div>
            </div>
            <!-- main title end -->
          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->
     <!-- About text -->
     <section class="sb-about-text sb-p-90-0">
      <div class="sb-bg-2" style="margin-top: 90px">
        <div></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="sb-illustration-2 sb-mb-90">
              <div class="sb-interior-frame">
                <img src="./assets/img/team/equipo.jpg" alt="interior" class="sb-interior" style="object-position: center">
              </div>
              <div class="sb-square"></div>
              <div class="sb-cirkle-1"></div>
              <div class="sb-cirkle-2"></div>
              <div class="sb-cirkle-3"></div>
              <div class="sb-cirkle-4"></div>
              <div class="sb-experience">
                <div class="sb-exp-content">
                  <p class="sb-h1 sb-mb-10">5</p>
                  <p class="sb-h3">Años de Experiencia</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 align-self-center sb-mb-60">
            <h2 class="sb-mb-60">Pensando en ustedes <br> y sus preferencias siempre</h2>
            <p class="sb-text sb-mb-30">Ofrecemos comida típica zarumeña como los deliciosos tigrillos, bolones, humitas, tamales, empanadas de verde y yuca, además platos como la lasaña, canastas de verde con carne o camarón, arroz moro con carne de Cerdo, pollo o bistec. Para las personas que desean algo más light, un mix de frutas. Para aquellos que son amantes del dulce se deleitarán con nuestros deliciosos postres.</p>
            <p class="sb-text sb-mb-60">No puede faltar el café zarumeño. Visítanos, te encantará!, estarás en un ambiente muy acogedor.</p>
            <img src="./assets/img/icono/bcf.jpg" alt="Signature" class="sb-signature sb-mb-30">
          </div>
        </div>
      </div>
    </section>
  </div>
    <!-- About text end -->
