     <!-- banner -->
     <section class="sb-banner sb-banner-xs sb-banner-color">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- main title -->
              <div class="sb-main-title-frame">
                <div class="sb-main-title">
                  <h1 class="sb-h2">BANANA CAFE - PRODUCTO DETALLE</h1>
                </div>
              </div>
              <!-- main title end -->
            </div>
          </div>
        </div>
      </section>
      <!-- banner end -->
  
      <div id="sb-dynamic-content" class="sb-transition-fade">
        <!-- product -->
        <section class="sb-p-90-0">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="sb-gallery-item sb-gallery-square sb-mb-90">
                  <img src="./assets/img/category/empanadas/empanada-carne.jpg" alt="photo">
                   <!-- <div class="sb-badge sb-vegan"><i class="fas fa-leaf"></i> Vegan</div> sIRVE PARA COLOCAR ETIQUETA, EN CASO DE QUE SEA NUEVO-->
                  <!-- button -->
                  <a data-fancybox="menu" data-no-swup href="./assets/img/category/empanadas/empanada-carne.jpg" class="sb-btn sb-btn-2 sb-btn-icon sb-btn-gray sb-zoom">
                    <span class="sb-icon">
                      <img src="img/ui/icons/zoom.svg" alt="icon">
                    </span>
                  </a>
                  <!-- button end -->
                </div>
              </div>
              <div class="col-lg-6">
                <div class="sb-product-description sb-mb-90">
                  <div class="sb-price-frame sb-mb-30">
                    <h3>Empanada de verde con carne</h3>
                    <div class="sb-price"><sub>$</sub> 1.25</div>
                  </div>    
                  <p class="sb-text sb-mb-30"><span>Empanada de verde rellena con carne</span>, <span>por unidad</span></p>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="sb-features-item sb-features-item-sm sb-mb-30">
                        <div class="sb-number">01</div>
                        <div class="sb-feature-text">
                          <h4 class="sb-mb-15">Agregue el artículo al carrito</h4>                      
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="sb-features-item sb-features-item-sm sb-mb-30">
                        <div class="sb-number">02</div>
                        <div class="sb-feature-text">
                          <h4 class="sb-mb-15">Llene el formulario con los datos requeridos</h4>                        
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="sb-features-item sb-features-item-sm sb-mb-30">
                        <div class="sb-number">03</div>
                        <div class="sb-feature-text">
                          <h4 class="sb-mb-15">Disfrute su pedido en casa!</h4>                        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sb-buttons-frame">
                    <div class="sb-input-number-frame">
                      <div class="sb-input-number-btn sb-sub">-</div>
                      <input type="number" value="1" min="1" max="10">
                      <div class="sb-input-number-btn sb-add">+</div>
                    </div>
                    <!-- button -->
                    <a href="#." class="sb-btn sb-atc">
                      <span class="sb-icon">
                        <img src="./assets/img/ui/icons/cart.svg" alt="icon">
                      </span>
                      <span class="sb-add-to-cart-text">Añadir al carrito</span>
                      <span class="sb-added-text">Agregado</span>
                    </a>
                    <!-- button end -->
                  </div>
                </div>
              </div>
            </div>         
            
          </div>
        </section>
        <!-- product end -->
      </div>
