<!-- preloader -->
<div class="sb-preloader">
  <div class="sb-preloader-bg"></div>
  <div class="sb-preloader-body">
    <div class="sb-loading">
      <div class="sb-percent">
        <span class="sb-preloader-number" data-count="101">00</span
        ><span>%</span>
      </div>
    </div>
    <div class="sb-loading-bar">
      <div class="sb-bar"></div>
    </div>
  </div>
</div>
<!-- preloader end -->

<!-- banner -->
<section class="sb-banner">
  <div class="sb-bg-1">
    <div></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- main title -->
        <div class="sb-main-title-frame">
          <div class="sb-main-title">
            <span class="sb-suptitle sb-mb-30">Bienvenidos!</span>
            <h1 class="sb-mb-30">Tradición Zarumeña <span>a tu alcance</span></h1>
            <p class="sb-text sb-text-lg sb-mb-30">¡Ahora en Santa Rosa! Encuentra tus platos favoritos<br>en nuestro exquisito menú.</p>
            <!-- button -->
            <a href="app-category" class="sb-btn">
              <span class="sb-icon">
                <img src="./assets/img/ui/icons/menu.svg" alt="icon">
              </span>
              <span>Menú</span>
            </a>
            <!-- button end -->
            <!-- button -->
            <a href="about.component.html" class="sb-btn sb-btn-2 sb-btn-gray">
              <span class="sb-icon">
                <img src="./assets/img/ui/icons/arrow.svg" alt="icon">
              </span>
              <span>Conócenos</span>
            </a>
            <!-- button end -->
          </div>
        </div>
        <!-- main title end -->
      </div>
      <div class="col-lg-6">
        <div class="sb-illustration-1">
          <img src="./assets/img/faces/principal-cafe.png" alt="girl" class="sb-girl">
          <div class="sb-cirkle-1"></div>
          <div class="sb-cirkle-2"></div>
          <div class="sb-cirkle-3"></div>
          <div class="sb-cirkle-4"></div>
          <div class="sb-cirkle-5"></div>
          <img src="./assets/img/illustrations/3.svg" alt="phones" class="sb-pik-1">
          <img src="./assets/img/illustrations/1.svg" alt="phones" class="sb-pik-2">
          <img src="./assets/img/illustrations/2.svg" alt="phones" class="sb-pik-3">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner end -->

<!-- Local ambiente -->
<section class="sb-p-60-0">
  <div class="container">
    <div class="row flex-md-row-reverse">
      <div class="col-lg-6 align-self-center sb-mb-30">
        <h2 class="sb-mb-60">Siéntete en un ambiente<br>cómodo y fresco<br>en nuestras instalaciones</h2>
        <ul class="sb-features">
          <li class="sb-features-item sb-mb-60">
            <div class="sb-number">01</div>
            <div class="sb-feature-text">
              <h3 class="sb-mb-15">Encuéntranos</h3>
              <p class="sb-text">Estamos ubicados en la entrada de la ciudad Santa Rosa, Vía Jumon y Morona Santiago.</p>
            </div>
          </li>
          <li class="sb-features-item sb-mb-60">
            <div class="sb-number">02</div>
            <div class="sb-feature-text">
              <h3 class="sb-mb-15">Ingredientes frescos y tradicionales</h3>
              <p class="sb-text">Ofrecemos platos con la mejor calidad de ingredientes utilizados, café traído directo de nuestra queridad ciudad Zaruma.</p>
            </div>
          </li>
          <li class="sb-features-item sb-mb-60">
            <div class="sb-number">03</div>
            <div class="sb-feature-text">
              <h3 class="sb-mb-15">¿Pedidos a domicilio?</h3>
              <p class="sb-text">Si eres de nuestra querida ciudad Santa Rosa, realiza tus pedidos online y recíbelos en la comodidad de tu hogar, sigue los pasos sencillos para solicitar tu pedido.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 align-self-center">
        <div class="sb-illustration-2 sb-mb-90">
          <div class="sb-interior-frame">
            <img src="./assets/img/instalacion/Instalaciones.jpg" alt="interior" class="sb-interior">
          </div>
          <div class="sb-square"></div>
          <div class="sb-cirkle-1"></div>
          <div class="sb-cirkle-2"></div>
          <div class="sb-cirkle-3"></div>
          <div class="sb-cirkle-4"></div>
          <div class="sb-experience">
            <div class="sb-exp-content">
              <p class="sb-h1 sb-mb-10">5</p>
              <p class="sb-h3">Años de Experiencia sirviendo para ustedes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features end -->

<!-- Categorias menu -->
<section class="sb-p-0-60">
  <div class="container">
    <div class="sb-group-title sb-mb-30">
      <div class="sb-left sb-mb-30">
        <h2 class="sb-mb-30">Qué te apetece<span> probar hoy?</span></h2>
        <p class="sb-text">Revisa nuestro menú en la siguiente sección.<br>Selecciona la categoría que desees</p>
      </div>
      <div class="sb-right sb-mb-30">
        <!-- button -->
        <a href="shop-1.html" class="sb-btn sb-m-0">
          <span class="sb-icon">
            <img src="./assets/img/ui/icons/arrow.svg" alt="icon">
          </span>
          <span>Revisar todo el menú</span>
        </a>
        <!-- button end -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <a href="shop-list-1.html" class="sb-categorie-card sb-categorie-card-2 sb-mb-30">
          <div class="sb-card-body">
            <div class="sb-category-icon">
              <img src="./assets/img/category/tigrillo.jpg" alt="icon">
            </div>
            <div class="sb-card-descr">
              <h3 class="sb-mb-10">Tigrillos</h3>
              <p class="sb-text">Solo - Mixto - cerdo - bistec - Seco de pollo - Pollo a la plancha</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="shop-list-1.html" class="sb-categorie-card sb-categorie-card-2 sb-mb-30">
          <div class="sb-card-body">
            <div class="sb-category-icon">
              <img src="./assets/img/category/bolones.jpg" alt="icon">
            </div>
            <div class="sb-card-descr">
              <h3 class="sb-mb-10">Bolones</h3>
              <p class="sb-text">De queso - De chicharrón - mixto - De maní</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="shop-list-1.html" class="sb-categorie-card sb-categorie-card-2 sb-mb-30">
          <div class="sb-card-body">
            <div class="sb-category-icon">
              <img src="./assets/img/category/moros.jpg" alt="icon">
            </div>
            <div class="sb-card-descr">
              <h3 class="sb-mb-10">Moros</h3>
              <p class="sb-text">Con cerdo - Bistec - Seco de pollo - Pollo a la plancha</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="shop-list-1.html" class="sb-categorie-card sb-categorie-card-2 sb-mb-30">
          <div class="sb-card-body">
            <div class="sb-category-icon">
              <img src="./assets/img/category/Empanadas.jpg" alt="icon">
            </div>
            <div class="sb-card-descr">
              <h3 class="sb-mb-10">Empanadas</h3>
              <p class="sb-text">Verde con queso - con carne - Yuca con queso</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="shop-list-1.html" class="sb-categorie-card sb-categorie-card-2 sb-mb-30">
          <div class="sb-card-body">
            <div class="sb-category-icon">
              <img src="./assets/img/category/postres.jpg" alt="icon">
            </div>
            <div class="sb-card-descr">
              <h3 class="sb-mb-10">Postres</h3>
              <p class="sb-text">Pie de limón - cheesecake - budín - 3 leches - torta - tirmisú</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="shop-list-1.html" class="sb-categorie-card sb-categorie-card-2 sb-mb-30">
          <div class="sb-card-body">
            <div class="sb-category-icon">
              <img src="./assets/img/category/caf.jpg" alt="icon">
            </div>
            <div class="sb-card-descr">
              <h3 class="sb-mb-10">Bebidas</h3>
              <p class="sb-text">Café - Chocolate - Aguas aromáticas - varias</p>
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</section>
<!-- categories end -->

<!-- contact info -->
<section class="sb-p-90-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="sb-features-item sb-mb-60">
          <div class="sb-number">01</div>
          <div class="sb-feature-text">
            <h3 class="sb-mb-15">Bienvenido!</h3>
            <p class="sb-text">Santa Rosa, Vía Jumón y Morona Santiago</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sb-features-item sb-mb-60">
          <div class="sb-number">02</div>
          <div class="sb-feature-text">
            <h3 class="sb-mb-15">Contáctanos</h3>
            <p class="sb-text">095 893 4818</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sb-features-item sb-mb-60">
          <div class="sb-number">03</div>
          <div class="sb-feature-text">
            <h3 class="sb-mb-15">Horario de atención</h3>
            <p class="sb-text">lun:	Cerrado</p>
            <p class="sb-text">mar:	15:00–22:00</p>
            <p class="sb-text">mié:	15:00–22:00</p>
            <p class="sb-text">jue:	15:00–22:00</p>
            <p class="sb-text">vie:	15:00–22:00</p>
            <p class="sb-text">sab:	15:00–22:00</p>
            <p class="sb-text">dom:	8:00–22:00</p>                  
          </div>              
        </div>            
      </div>
      <div class="col-lg-4">
        <div class="sb-features-item sb-mb-60">
          <div class="sb-number">04</div>
          <div class="sb-feature-text">
            <h3 class="sb-mb-15">Ubicación</h3>
            <!-- map editar css nombre img--->
            <div class="img-align">
              <img src="./assets/img/ubicacion/mapa.png" alt="icon">
            </div>
          <!-- map end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact info end -->